@page
@model ClienteModel
@{
    ViewData["Title"] = "Cliente";
}

<div class="text-center">
    <div class="jumbotron">
    <h1 class="display-4">Olá, Seja bem vindo</h1>
    <p class="lead">Este é um sistema de gestão de clientes, onde você pode gerenciar de forma fácil os dados de seus clientes.</p>
    <hr class="my-4">
</div>
</div>